.field {
    width: 100%;
}

.card {
    width: 40%;
    margin: auto;
    background-color: white;
    padding-inline: 20px;
    padding-top: 1px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.container {
    margin-top: 20px;
}

.card h1 {
    text-align: center;
}

.card button {
    margin: 4px;
}

.buttons {
    text-align: center;
}

.btn1 {
    background-color: green !important;
}

.btn1:hover {
    background-color: blue !important;
}

.btn2:hover {
    background-color: coral !important;
}